*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;/* rolagem entre divs*/
}
body{
    position: relative;
    display: grid;
    margin: auto;
    background-color: black;
}
/* Global */
.size{
    min-height: 101vh;
    padding-top: 6.1rem;
    gap: 0;
}

.title-sections { /* formatar o titulo das secções*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 1.0rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 3rem;
    text-align: center;
}
    /*Home*/
#home{
    padding-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLandingPage{
    max-width: 90vw;
    max-height: 70vh;
    box-shadow: 0px 0px 40px white;
}
/* serviços */

#box-container-service, #title-services, #containerServices, .service-box, .btnService{
    display: grid;
}
#containerServices{
    grid-template-columns: repeat(12, 1fr) ;
    justify-items: center;

}
#box-container-service{
    gap: 1rem;
    padding-bottom: 1rem;
}
.btnService {
    background-image: url("/img/icons-serviços/red-metal-textured-background.jpg");
    background-size: cover;
    padding:0;
    justify-items: center;
    border: 2px solid black;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;  
    transform: scale(1);/* para voltar ao tamanho original*/
    transition: 0.5s;
}
.service-box{
    width: 100%;
    height: 100%;
    background-color:transparent;
    border:0;
    justify-items: center;
    cursor: pointer;
    

}
.service-box img{
    max-width: 8rem;
    max-height: 8rem;
}
.service-box h2{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding:0.5rem ;
}

.btnService:hover{
    transform: scale(1.1);
    transition:0.5s;
}

/* Gallery */

#gallery, #title-gallery, #gallery-container, .gallery-box{
    display: grid;
}
#gallery{
    
    grid-template-columns: repeat(12, 1fr) ;
    justify-items: center;
    
}
#gallery-container{

    padding-bottom: 1rem;
}

.gallery-box{
    justify-items: center;
    border: 2px solid black;
    box-shadow: 0px 0px 10px red;
    border-radius: 5%;
    width: 21rem;
    height: 13rem;  
}

/* Contacts */

#contact, .info, #contacts-list,#contacts-list, div.social-media, .info-contacts, .social-links{
    display: grid;
}
#title-contact{
    grid-column: 1 / span 12;
}
.contact-title{
    padding-bottom: .60rem;
    color: white;
    text-shadow: black 1px 2px;
    margin-left: .5rem;
}
#body-contacts{
    display: grid;
    grid-column: 1/span 12;
    grid-template-columns: 2fr 1fr;

    
}

/* Mapa*/

#map{
    display: flex;
    margin: .5rem;
    border: 2px solid black;
    box-shadow: 0 0 20px white;
    
}
.map-container{
    width: 100%;
    height: 100%;
    object-fit: cover; /* para que o mapa se ajuste ao container*/
}

/* Contactos */

#contacts-list{
    margin: 0.5rem;
    padding: 0.5rem;
    background-image: url("/img/back-ground/backgound-red.jpeg");
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 0 20px white;
}

 .info-contacts, .social-links, #contacts-list{
    gap: .5rem;
 }
.icon{
    width:2rem;
    height:1.5rem;
}
.information{
    margin: 0 .5rem;
    color: white;
    background-image: url("/img/icons-contactos/fundo.jpeg");
    background-size: cover;
    border: solid lightgrey 2px;
}
.facebook a, .information {
    padding-left: .5rem;
    display: flex;
    align-items: center;
    min-height: 2.5rem;
}
.information p{
    position: relative;
    font-size: 0.90rem;
    margin: 0;
    text-align: left;
    padding-left: 1rem;
    color: white;
    text-shadow: black 2px 1px;
}

/* Oficina*/

#oficina, .container-info, .oficina-box{
    display: grid;
}
#oficina{
    padding-bottom: 1rem;
}
.oficina-box img{
    max-width:100%;
    border: 2px solid black;
    box-shadow: 0px 0px 10px white;
}
.oficina-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    color: white;
    background-image: url("/img/foto-escritorio/azul.jpeg");
    border: 2px solid black;
    box-shadow: 0px 0px 10px white;
}
.oficina-info h3{
    padding: .2rem 0 0 .2rem;
    text-shadow: black 1px 2px;

}
.oficina-info p{
    padding-left: 1rem;
}

    @media screen and (min-width:350px) and (orientation: portrait){
        /* serviços */

        #title-services{
            grid-column: 1 / span 12;
        }
    
        #box-container-service{
            grid-column: 2 / span 10;
        }
        
        /* Gallery */
        
        #title-gallery{
            grid-column: 1 / span 12;
        }
        #gallery-container{
            grid-column: 2 / span 10;
            gap: 0.5rem;
        }
        
        /* Contacts */ 

        #contact{
            grid-template-rows: 0.1fr 1.5fr;
            }
        #body-contacts{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        /* Oficina*/
        
        #oficina{
            grid-template-columns: repeat(12, 1fr);  
        }
        .title{
            grid-column: 1 / span 12;
        }
        .container-info{
            grid-column: 2 / span 10;
            gap: 1rem;
        }
    }
    
    @media screen and (min-width:768px) {
        /* serviços */

        #containerServices{
            grid-template-columns: repeat(2, 1fr) ;
        }
        #title-services{
            grid-column: 1 / span 2;
        }
        #box-container-service{
            grid-template-columns: repeat(2, 1fr);
            grid-column: 1 / span 2;
            gap: 1rem;
            margin:0.5rem;
        }


        /* Gallery */

        #gallery{
            grid-template-columns: repeat(2, 1fr) ;
        }
        #title-gallery{
            grid-column: 1 / span 2;
        }
        #gallery-container{
            grid-template-columns: repeat(2, 1fr);
            grid-column: 1 / span 2;
            gap: 1rem;
        }

        /* Contacts */

        #contact{
            grid-template-rows: 0.5fr 2fr;
       
        }
        #contacts-list {
            grid-template-columns: 1fr;
        }

        /* Oficina*/

        .container-info{
        grid-template-columns: 1fr 1fr;

        }
        .oficina-box{
            display: flex;
        }
        .oficina-info h3{
            font-size: 2rem;
            padding:1rem,;
      
        }
        .oficina-info p{
            font-size: 1.1rem;
            padding-bottom: 1rem;
        }
    }
    
    @media screen and (min-width: 1200px){
        /* serviços */

        #containerServices{
            grid-template-columns: repeat(3, 1fr) ;
        }
        #title-services{
            grid-column: 1 / span 3;
        }
        #box-container-service{
            padding: 0;
            grid-template-columns: repeat(3, 1fr);
            grid-column: 1 / span 3;
            gap: 1.3rem;
            margin:1rem;
        }
        .service-box{
            padding: 0;
        }

        /* Gallery */

        #gallery{
            grid-template-columns: 1fr ;
        }
        #title-gallery{
            grid-column: 1 / span 3;
        }
        #gallery-container{
            grid-template-columns: repeat(3, 1fr);
            grid-column: 1 / span 3;
            gap: 1rem;
            margin: 1rem;
        }
        .gallery-box{
            width: 19.3rem;
            height: 11.4rem;   
        }

        /* Contacts */
    
        #contact{
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 0.5fr 3fr;
        }
        #title-contact{
            grid-column: 1/ span 2;
        }
        #body-contacts{

            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr;
            align-content: center ;
            max-height:70vh;
        }
        #contacts-list {
            grid-template-columns: 1fr ;
        }

        /* Oficina*/

        .container-info{
            grid-template-columns: 1fr 1fr;
        }
        .oficina-box{
            display: flex;
            justify-content: center;
            
        }
        .oficina-info h3{
            font-size: 2rem;
            padding:1rem;
      
        }
        .oficina-info p{
            font-size: 1.1rem;
            padding-bottom: 1rem;
        }
    }
    @media screen and (min-width: 1500px){
        body, header{
            width: 1500px;
        }
        /* Oficina */
        .oficina-info p{
            font-size: 1.2rem;
            padding: 2rem;
        }
        
    }
    /* Menu responsive*/

    @media screen and (max-width:730px){

        header{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        #nav-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 0;
        }
        .mobile-menu-icon{
            display: block;
        }
        .active-menu{
            border: none;
            border-radius: 10px;
            color: white;
            font-style: bold;
        }
        .nav-link:hover{
            border: none;
            border-radius: 0;
            color: white;
            font-style: bold;
        }
        .mobile-menu-icon button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .menu-mobile{
            border-bottom: 2px solid white;
        }
        .nav-list ul{
            display:flex;
            flex-direction: column;
            gap: 0 1rem;
            list-style: none;/* para tirar as bolinhas dos items da lista */
        }
        .nav-item{
            display: flex;
            padding-top: 1.2rem;
        }
        .open {
            display: flex;
        }
        
    }
